@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap"); /* font-family: 'Abel', sans-serif;---Corpo--- */

.icone {
  width: 500px;
  height: auto;
  margin-left: 150px;
  margin-top: 150px;
}

.recommend {
  color: rgb(97, 97, 97);
  font-family: "Abel", sans-serif;
}

.recommend:hover {
  color: rgb(65, 64, 64);
}

.disclaimer {
  color: grey;
  font-family: "Abel", sans-serif;
}
