.slideshow-container {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.slideshow-imagem {
  width: 1194px;
  height: 700px;
  object-fit: cover;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .slideshow-container {
    position: relative;
    width: 360px;
    height: 400px;
  }

  .slideshow-imagem {
    width: 360px;
    height: 400px;
    object-fit: cover;
  }
}
